<!-- templates/registration/login.html -->

<head>
        {% load static %}
        <title>BMF</title>


    <link rel="stylesheet" href="{% static './bmf/css/style.css' %}">
	<link rel="stylesheet" href="{% static './bmf/css/custom.css' %}">
	<link rel="stylesheet" href="{% static './bmf/css/map.css' %}">
</head>

<body>
<div class="modal is-active">
  <div class="modal-background-login"></div>
  <div class="modal-content">
      <div class="box is-centered has-text-centered">
                    <object type="image/svg+xml"
                         data="{% static './bmf/resources/BMF_2017_WebSVG_de.svg' %}">
                           Your browser does not support SVG
                    </object>
{#                        <h2 class="has-text-black" >Login</h2>#}
                            <form method="post" >
                                {% csrf_token %}
                                <Label class="label" >Benutzername</Label>
                                <div class="control has-text-centered">

                                    {{ form.username }}</div>
                                <Label class="label" >Passwort</Label>
                               <div class="control has-text-centered">

                                   {{ form.password }}</div>

                            <div class="buttons is-centered" style="padding-top: 20px">

                                <button class="button" type="submit" >Login</button>
                            </div>

                            </form>
  </div>
          </div>
  </div>

</div>


</body>

