
.Blues .q0-5{fill:rgb(239,243,255); pointer-events: None}
.Blues .q1-5{fill:rgb(189,215,231); pointer-events: None}
.Blues .q2-5{fill:rgb(107,174,214); pointer-events: None}
.Blues .q3-5{fill:rgb(49,130,189); pointer-events: None}
.Blues .q4-5{fill:rgb(8,81,156); pointer-events: None}


.Reds .q0-5{fill:rgb(254,229,217)}
.Reds .q1-5{fill:rgb(252,174,145)}
.Reds .q2-5{fill:rgb(251,106,74)}
.Reds .q3-5{fill:rgb(222,45,38)}
.Reds .q4-5{fill:rgb(165,15,21)}

.Greens .q0-5{fill:rgb(237,248,233); pointer-events: None}
.Greens .q1-5{fill:rgb(186,228,179); pointer-events: None}
.Greens .q2-5{fill:rgb(116,196,118); pointer-events: None}
.Greens .q3-5{fill:rgb(49,163,84); pointer-events: None}
.Greens .q4-5{fill:rgb(0,109,44); pointer-events: None}

/* THIS IS ALL MY HOVER TOOLTIP TOBIAS TOBIAS TOBIAS */


.indicator{
  text-align: left
}

.weight_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}
/* Tooltip text */
.weight_tooltip .weight_tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 150%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.weight_tooltip .weight_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.weight_tooltip:hover .weight_tooltiptext {
  visibility: visible;
  opacity: 1;
}


.reset_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}


/* Tooltip text */
.reset_tooltip .reset_tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 150%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.reset_tooltip .reset_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.reset_tooltip:hover .reset_tooltiptext {
  visibility: visible;
  opacity: 1;
}


.download_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}


/* Tooltip text */
.download_tooltip .download_tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 107.5%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.download_tooltip .download_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.download_tooltip:hover .download_tooltiptext {
  visibility: visible;
  opacity: 1;
}






















.indicator_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}


/* Tooltip text */
.indicator_tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 125%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.indicator_tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.indicator_tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* THIS IS ALL MY HOVER TOOLTIP TOBIAS TOBIAS TOBIAS */

/* .columns {
	margin: 0;
}

@media screen and (min-width: 768px) {

	.columns {
	    margin-left: -0.75rem;
	    margin-right: -0.75rem;
	    margin-top: -0.75rem;
	}

} */
@media screen and (min-width: 780px){
	#optionbox{
	min-height: 810px;
}
}

.st-right{
	text-align: left;

	height: 20px;
	width: 30px;
	

}

.st-left{
	text-align: left;
	width: 20px;
	height: 20px;

}
#specInfo{
	table-layout: fixed;
	overflow: scroll;
	
}

.lds-roller {
  position: absolute;

  left: 50%;
	margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-roller1 {
    display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller1 div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller1 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller1 div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller1 div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller1 div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller1 div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller1 div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller1 div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller1 div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller1 div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller1 div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller1 div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller1 div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller1 div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller1 div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller1 div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller1 div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller1 div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





@media screen and (max-width: 768px) {

  .reset_tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
  }


  /* Tooltip text */
  .reset_tooltip .reset_tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: -65%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .reset_tooltip .reset_tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .reset_tooltip:hover .reset_tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .weight_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}
/* Tooltip text */
.weight_tooltip .weight_tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: -65%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.weight_tooltip .weight_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.weight_tooltip:hover .weight_tooltiptext {
  visibility: visible;
  opacity: 1;
}

.download_tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}


/* Tooltip text */
.download_tooltip .download_tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: -30%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.download_tooltip .download_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.download_tooltip:hover .download_tooltiptext {
  visibility: visible;
  opacity: 1;
}


}

text.pca_label {
    font-size: 10px;
}

circle:hover {
  fill: black;
}

.pcaCircles:hover{
  fill: black;
}



