<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Tryout</title>
    <link rel="stylesheet" href="{% static './bmf/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static './bmf/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static './bmf/css/custom.css' %}">
    <link rel="stylesheet" href="{% static './bmf/css/map.css' %}">
</head>
<body>

<div class="container">
    <div class="example-grid-logo">
        <div class="row">
            <div class="three columns">
                <object type="image/svg+xml" data="{% static './bmf/resources/BMF.svg' %}" width="100%" ,
                        height="100%">Your browser does not support
                    SVG
                </object>
            </div>

            <div class="six columns">
                <h3>BMF - GRW - Datenvisualisierung</h3>
            </div>
            <div class="three columns">


                <button id="conf">Settings</button>

            </div>

            <div id="settings" class="import_modal">

                <!-- Modal content -->
                <div class="import_modal-content">
                    <span class="close">&times;</span>
                    <h2>Settings</h2>
                    <p>

                    </p>
                    <h3>Color:</h3>
                    <label>
                        <input type="radio" name="test" value="small" onclick="pickColor(1)">
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q0-5"/>
                        </svg>
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q1-5"/>
                        </svg>
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q2-5"/>
                        </svg>
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q3-5"/>
                        </svg>
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q4-5"/>
                        </svg>
                        <svg width="10" height="10" class="Purples">
                            <rect width="10" height="10" class="q5-5"/>
                        </svg>
                    </label>

                    <label>
                        <input type="radio" name="test" value="big" onclick="pickColor(2)">
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q0-5"/>
                        </svg>
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q1-5"/>
                        </svg>
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q2-5"/>
                        </svg>
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q3-5"/>
                        </svg>
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q4-5"/>
                        </svg>
                        <svg width="10" height="10" class="Reds">
                            <rect width="10" height="10" class="q5-5"/>
                        </svg>
                    </label>

                    <label>
                        <input type="radio" name="test" value="big" onclick="pickColor(3)">
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q0-5"/>
                        </svg>
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q1-5"/>
                        </svg>
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q2-5"/>
                        </svg>
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q3-5"/>
                        </svg>
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q4-5"/>
                        </svg>
                        <svg width="10" height="10" class="Oranges">
                            <rect width="10" height="10" class="q5-5"/>
                        </svg>

                    </label>

                    STD:

                </div>

            </div>
        </div>

    </div>
</div>
<div class="example-grid-body">
    <div class="row">
        <div class="box">
            <div class="three columns" id="big">

                        <label>Maps</label>
                        <select class="u-80-width" id="map_selector" onchange="ChangeMap()">
                            <option value="Kreise">Kreise</option>
                            <option value="AMR12">AMR12</option>
                            <option value="AMR20">AMR20</option>
                        </select>
                        <table id="specInfo" class="u-80-width">
                            <thead>
                            <tr>
                                <th colspan="2">Area specific information</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="specInfoFirst">Name</td>
                                <td id="specInfoName">Placeholder</td>
                            </tr>
                            <tr>
                                <td class="specInfoFirst">ID</td>
                                <td id="specInfoID">Placeholder</td>
                            </tr>
                            <tr>
                                <td class="specInfoFirst" id="specInfoValueName">Value</td>
                                <td id="specInfoValue">Placeholder</td>
                            </tr>
                            <tr>
                                <td class="specInfoFirst">Bund</td>
                                <td id="specInfoBund">Placeholder</td>
                            </tr>
                            <tr>
                                <td class="specInfoFirst">Rank</td>
                                <td id="specInfoRank">Placeholder</td>
                            </tr>
                            </tbody>
                        </table>


            </div>
            <div class="six columns" id="big">
                <div id ='app'></div>
                        <div id="map">

                        </div>
                        <div class="row">
                            <table class="u-80-width" id="table">
                                <thead>
                                <tr>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Average</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="min_value">Value 1</td>
                                    <td id="max_value">Value 2</td>
                                    <td id="avg_value">Value 3</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


            </div>
            <div class="three columns" id="big">

                        Indikatoren

                            <div>
                                <div id="in_1">

                                    <div class="row">

                                        <div class="six columns">
                                            <label class="indicator">Indikator 1</label>
                                            {% csrf_token %}
                                            <select class="u-95-width" id="var_name_1" method="POST" onchange="send_var_names_to_backend()">
                                                <option disabled selected value="0"> -- Wähle Variable --</option>
                                                {% for i in col_names_var %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="three columns">
                                        <label class="indicator">Jahr </label>

                                            <select class="u-80-width" id="var_year_1" method="POST" onchange="send_var_names_to_backend()">
                                                {% for i in years_var %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <div class="three columns" >
                                            <label>%</label>
                                            <input class="u-80-width" id= "weight_1" type="number" placeholder="45" method="POST" onchange="send_var_names_to_backend()">
                                        </div>
                                    </div>

                                <div class="row">

                                    <div class="six columns" , >
                                        <select class="u-95-width" id="ref_name_1" method="POST" onchange="send_var_names_to_backend()">
                                        <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="three columns"  >
                                        <select class="u-80-width" id="ref_year_1" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div id="in_2">
                                <div class="row">

                                    <div class="six columns">
                                        <label class="indicator">Indikator 2</label>
                                        <select class="u-95-width" id="var_name_2" method="POST" onchange="send_var_names_to_backend()">
                                            <option disabled selected value> -- Wähle Variable --</option>
                                            {% for i in col_names_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                    <label class="indicator">Jahr </label>
                                        <select class="u-80-width" id="var_year_2" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                        <label>%</label>
                                        <input class="u-80-width" id= "weight_2" type="number" placeholder="45" method="POST" onchange="send_var_names_to_backend()">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="six columns">
                                        <select class="u-95-width" id="ref_name_2" method="POST" onchange="send_var_names_to_backend()">
                                        <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="three columns" >
                                        <select class="u-80-width" id="ref_year_2" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div id="in_3">
                                <div class="row">

                                    <div class="six columns">
                                        <label class="indicator">Indikator 3</label>
                                        <select class="u-95-width" id="var_name_3" method="POST" onchange="send_var_names_to_backend()">
                                            <option disabled selected value> -- Wähle Variable --</option>
                                            {% for i in col_names_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="three columns">
                                    <label class="indicator">Jahr </label>
                                        <select class="u-80-width" id="var_year_3" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>




                                    <div class="three columns">
                                        <label>%</label>
                                        <input class="u-80-width" id= "weight_3" type="number" placeholder="45" method="POST" onchange="send_var_names_to_backend()">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="six columns" >
                                        <select class="u-95-width" id="ref_name_3" method="POST" onchange="send_var_names_to_backend()">
                                            <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="three columns" >
                                        <select class="u-80-width" id="ref_year_3" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="in_4" style="display: none">
                                <div class="row">

                                    <div class="six columns">
                                        <label class="indicator">Indikator 4</label>
                                        <select class="u-95-width" id="var_name_4" method="POST" onchange="send_var_names_to_backend()">
                                            <option disabled selected value> -- Wähle Variable --</option>
                                            {% for i in col_names_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                    <label class="indicator">Jahr </label>
                                        <select class="u-80-width" id="var_year_4" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>




                                    <div class="three columns">
                                        <label>%</label>
                                        <input class="u-80-width" id="weight_4" type="number" placeholder="45" method="POST" onchange="send_var_names_to_backend()">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="six columns" >
                                        <select class="u-95-width" id="ref_name_4" method="POST" onchange="send_var_names_to_backend()">
                                        <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="three columns" >
                                        <select class="u-80-width" id="ref_year_4" method="POST" onchange="send_var_names_to_backend()">
                                            {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="in_5" style="display: none">
                                <div class="row">

                                    <div class="six columns">
                                        <label class="indicator">Indikator 5</label>
                                        <select class="u-95-width" id="var_name_5" onchange="send_var_names_to_backend()">
                                            <option disabled selected value> -- Wähle Variable --</option>
                                            {% for i in col_names_var %}
                                                <option value="{{ i }}">{{ i }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                    <label class="indicator">Jahr </label>
                                        <select class="u-80-width" id="var_year_5" onchange="send_var_names_to_backend()">
                                            {% for i in years_var %}
                                                <option value="{{ i }}">{{ i }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                        <label>%</label>
                                        <input class="u-80-width" id="weight_5" type="number" placeholder="45" method="POST" onchange="send_var_names_to_backend()">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="six columns">
                                        <select class="u-95-width" id="ref_name_5" method="POST" onchange="send_var_names_to_backend()">
                                        <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="three columns" >
                                        <select class="u-80-width" id="ref_year_5" onchange="send_var_names_to_backend()">
                                              {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="in_6" style="display: none">
                                <div class="row">

                                    <div class="six columns">
                                        <label class="indicator">Indikator 6</label>
                                        <select class="u-95-width" id="var_name_6" onchange="send_var_names_to_backend()">
                                            <option disabled selected value> -- Wähle Variable --</option>
                                            {% for i in col_names_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="three columns">
                                    <label class="indicator">Jahr </label>
                                        <select class="u-80-width" id="var_year_6" onchange="send_var_names_to_backend()">
                                            {% for i in years_var %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>



                                    <div class="three columns">
                                        <label>%</label>
                                        <input class="u-80-width" id="weight_6" type="number" placeholder="45" onchange="send_var_names_to_backend()">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="six columns" >
                                        <select class="u-95-width" id="ref_name_6" onchange="send_var_names_to_backend()">
                                        <option disabled selected value="0">  standardisiert über... </option>
                                            {% for i in col_names_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="three columns" >
                                        <select class="u-80-width" id="ref_year_6" onchange="send_var_names_to_backend()">
                                            {% for i in years_ref %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                    <button id="indikator_plus">+</button>
                    <button id="indikator_min">-</button>

                    <div class = "row"> Export / Upload </div>

                    <div class="row">
                        <button id="csv_export">Export zu CSV</button>
                        <button id="csv_upload">Import CSV</button>
                        <!-- The Modal -->
                        <div id="myImportModal" class="import_modal">

                            <!-- Modal content -->
                            <div class="import_modal-content">
                                <span class="close">&times;</span>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" name="csv" accept="text/csv">
                                    <input type="submit">
                                </form>
                            </div>

                        </div>
                    </div>


            </div>

        </div>
    </div>
    <div class="row">
        <div class="twelve columns" id="big">

                    This is the table!

            <script>
            // variables for react:
            {#var var_1_selection = var_name_1.options[var_name_1.selectedIndex].value;#}
            var var_name_1 = document.getElementById("var_name_1");

            var context = {
                            col_names_var: "{{ col_names_var }}",
                            col_names_ref: "{{col_names_ref}}",
                            years_ref: "{{ years_ref }}",
                            years_var: "{{years_var}}",
                            table_data: "{{ table_data }}",
                            indicator_data: "{{indicator_data}}"};

            var var_name_1 = document.getElementById("var_name_1");
            var var_name_2 = document.getElementById("var_name_2");
            var var_name_3 = document.getElementById("var_name_3");
            var var_name_4 = document.getElementById("var_name_4");
            var var_name_5 = document.getElementById("var_name_5");
            var var_name_6 = document.getElementById("var_name_6");
            var var_names = [var_name_1, var_name_2, var_name_3, var_name_4, var_name_5, var_name_6];

            var var_year_1 = document.getElementById("var_year_1");
            var var_year_2 = document.getElementById("var_year_2");
            var var_year_3 = document.getElementById("var_year_3");
            var var_year_4 = document.getElementById("var_year_4");
            var var_year_5 = document.getElementById("var_year_5");
            var var_year_6 = document.getElementById("var_year_6");

            var weight_1 = document.getElementById("weight_1");
            var weight_2 = document.getElementById("weight_2");
            var weight_3 = document.getElementById("weight_3");
            var weight_4 = document.getElementById("weight_4");
            var weight_5 = document.getElementById("weight_5");
            var weight_6 = document.getElementById("weight_6");

            var ref_name_1 = document.getElementById("ref_name_1");
            var ref_name_2 = document.getElementById("ref_name_2");
            var ref_name_3 = document.getElementById("ref_name_3");
            var ref_name_4 = document.getElementById("ref_name_4");
            var ref_name_5 = document.getElementById("ref_name_5");
            var ref_name_6 = document.getElementById("ref_name_6");
            var ref_names = [var_name_1, var_name_2, var_name_3, var_name_4, var_name_5, var_name_6];

            var ref_year_1 = document.getElementById("ref_year_1");
            var ref_year_2 = document.getElementById("ref_year_2");
            var ref_year_3 = document.getElementById("ref_year_3");
            var ref_year_4 = document.getElementById("ref_year_4");
            var ref_year_5 = document.getElementById("ref_year_5");
            var ref_year_6 = document.getElementById("ref_year_6");

            var layer = "KRS_15";
            var scale = "HIB";

            let indicator_count = 3;


            </script>

            <div id='table_complete'>

            </div>

        </div>
    </div>
</div>

</div>
<script>
    var AMR_12_url = "{% static 'bmf/resources/Kreise_402_all_features_topo.json' %}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }} /static/bmf/js/jquery-3.4.1.min.js"></script>
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{{ STATIC_URL }} /static/bmf/js/topojson.min.js"></script>
<script src="{% static './bmf/js/main.js' %}"></script>
<script src="{% static './bmf/js/modal.js' %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "./bmf/js/ajax.js" %}"></script>

</body>
</html>