<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>BMF</title>
	
	<link rel='shortcut icon' type='image/png' href="{% static './bmf/resources/favicon.png' %}"/>
	<link rel="stylesheet" href="{% static './bmf/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static './bmf/css/skeleton.css' %}">
	<link rel="stylesheet" href="{% static './bmf/css/custom.css' %}">
	<link rel="stylesheet" href="{% static './bmf/css/map.css' %}">

	<!-- <script>
		(function (h, o, t, j, a, r) {
			h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
			h._hjSettings = { hjid: 1433324, hjsv: 6 };
			a = o.getElementsByTagName('head')[0];
			r = o.createElement('script'); r.async = 1;
			r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
			a.appendChild(r);
		})(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
	</script> -->
</head>

<body>

	<div class="container" id="container">

	</div>

	<script>
		// variables for react:
		var context = {
			
			col_names_var: `{{ col_names_var|safe }}`,
			col_names_ref: `{{ col_names_ref|safe }}`,
			years_ref: `{{ years_ref|safe }}`,
			
			
		};
	</script>

	<script src="{% static 'bmf/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'frontend/main.js' %}"></script>
	

</body>

</html>