{% extends 'basic.html' %}
{% load static %}

{% block indikator %}
<div>
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 1</label>
            {% csrf_token %}
            <select class="u-95-width" id="indikator_1" onchange="SendIndikator()">
                <option disabled selected value="0"> -- select an option -- </option>

                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="in_2" >
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 2</label>
            <select class="u-95-width" id="indikator_2" onchange="SendIndikator()">
                <option disabled selected value> -- select an option -- </option>
                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="in_3">
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 3</label>
            <select class="u-95-width" id="indikator_3" onchange="SendIndikator()">
                <option disabled selected value> -- select an option -- </option>
                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="in_4" style="display: none">
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 4</label>
            <select class="u-95-width" id="indikator_4" onchange="SendIndikator()">
                <option disabled selected value> -- select an option -- </option>
                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="in_5" style="display: none">
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 5</label>
            <select class="u-95-width" id="indikator_5" onchange="SendIndikator()">
                <option disabled selected value> -- select an option -- </option>
                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div id="in_6" style="display: none">
    <div class="row">

        <div class="nine columns">
            <label class="indicator">Indikator 6</label>
            <select class="u-95-width" id="indikator_6" onchange="SendIndikator()">
                <option disabled selected value> -- select an option -- </option>
                {% for i in indikators %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="three columns">
            <label>%</label>
            <input class="u-80-width" type="number" placeholder="45">
        </div>
    </div>

    <div class="row">

        <div class="six columns" , id=standardiser>
            <select class="u-95-width">
                {% for i in std %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="four columns" , id=standardiser>
            <select class="u-80-width">
                {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endblock %}

{% block table2 %}
    <table id="data_table">
    <tr>

    </tr>

    </table>
{% endblock %}